@media (max-width: 1530px) {
  .intro {
    background-position: -100px 0;
  }

  .container {
    padding: 0 20px;
  }
}
@media (max-width: 1210px) {
  .intro {
    background-position: 50% 0;
  }
  .intro .intro__inner {
    padding: 200px 80px;
  }

  #register__block .content .name {
    font-size: 48px;
    margin-right: 60px;
    max-width: 600px;
  }

  .tab.logotype {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media (max-width: 1070px) {
  .header .user__score .btn + .btn {
    margin-left: 25px;
  }

  .section#tvshows .content .item, .section#movies .content .item {
    min-width: 170px;
    width: 170px;
    height: 255px;
  }

  #coming-soon .content {
    height: 300px;
  }
  #coming-soon .content .item:last-child img {
    height: 150px;
    width: 340px;
  }
  #coming-soon .content .item:last-child .name {
    font-size: 48px;
  }

  #register__block .content .name {
    font-size: 36px;
    max-width: 500px;
  }

  .tab {
    width: 50%;
    margin-bottom: 15px;
  }
}
@media (max-width: 901px) {
  .header .bar {
    display: block;
  }
  .header .user__score {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .intro .intro__inner {
    min-height: 0;
  }

  #genres .content {
    justify-content: center;
  }
  #genres .content .item {
    width: 270px;
    height: 160px;
    margin: 0 15px 25px 15px;
  }

  #actors .content .item {
    margin-right: 35px;
  }

  #coming-soon .content {
    flex-direction: column;
    height: auto;
    margin-right: 0;
  }
  #coming-soon .content .item {
    width: 100%;
    margin-bottom: 25px;
    height: 210px;
  }

  #register__block .content .name {
    font-size: 32px;
    margin-right: 30px;
    max-width: 320px;
  }
}
@media (max-width: 699px) {
  .header {
    padding: 10px 0;
    height: 70px;
  }
  .header .nav {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .intro {
    min-height: 0;
    height: 630px;
    padding: 100px 0 0 0;
  }
  .intro .main__title {
    letter-spacing: 2px;
    font-size: 52px;
  }
  .intro .intro__inner {
    padding: 40px 25px;
    height: 630px;
  }

  .section#tvshows .content .item, .section#movies .content .item {
    min-width: 160px;
    width: 160px;
    height: 240px;
    margin-right: 20px;
  }

  #genres .content .item {
    width: 180px;
    height: 110px;
    margin: 0 10px 25px 10px;
  }
  #genres .content .item img {
    width: 50px;
    height: 50px;
  }
  #genres .content .item .name {
    font-size: 22px;
  }

  #channels .content .item {
    min-width: 200px;
    width: 200px;
    height: 90px;
    margin-right: 15px;
  }

  #actors .content .item img {
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
  }
  #actors .content .item .name {
    font-size: 16px;
  }

  #register__block .content {
    flex-direction: column;
  }
  #register__block .content .name {
    max-width: 100%;
    text-align: center;
    margin-right: 0;
    margin-bottom: 25px;
  }

  #footer .content {
    padding: 0;
  }
}
@media (max-width: 556px) {
  .intro {
    min-height: 500px;
    max-height: 550px;
  }
  .intro .intro__inner {
    padding: 20px 0;
    height: 550px;
  }
  .intro .score {
    margin-bottom: 20px;
  }
  .intro .text {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .intro .buttons {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  .intro .buttons a {
    margin-bottom: 15px;
  }

  .container {
    padding: 0 15px;
  }

  .logo img {
    max-width: 100px;
  }

  .tranding {
    padding: 10px 0;
  }

  .section#tvshows .content, .section#movies .content {
    padding: 20px 0;
  }
  .section#tvshows .content .item, .section#movies .content .item {
    min-width: 150px;
    width: 150px;
    height: 225px;
  }

  #genres {
    padding: 0;
  }

  #register__block {
    margin: 30px 0;
  }

  #footer .logo img {
    max-width: 157px;
  }

  .section .controlls {
    display: none;
  }

  .tab {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 475px) {
  #genres .content .item {
    width: 155px;
    height: 90px;
  }
  #genres .content .item img {
    width: 40px;
    height: 40px;
  }
  #genres .content .item .name {
    font-size: 18px;
  }
}
@media (max-width: 456px) {
  .intro {
    background-position: 70% 0;
  }
  .intro .main__title {
    font-size: 34px;
  }
  .intro .score span {
    margin-right: 10px;
  }

  .btn {
    font-size: 16px;
    padding: 10px 20px;
  }

  .section#tvshows .content .item, .section#movies .content .item {
    min-width: 120px;
    width: 120px;
    height: 180px;
  }

  .section .section__inner {
    padding: 0;
  }
  .section .show-more {
    font-size: 18px;
  }
  .section .content {
    margin-right: 0;
  }

  #coming-soon .content .item {
    height: 180px;
  }
  #coming-soon .content .item:last-child img {
    width: 260px;
    height: 115px;
  }
  #coming-soon .content .item:last-child .name {
    font-size: 36px;
  }

  #footer {
    padding: 20px 0;
  }
}
@media (max-width: 380px) {
  #genres .content .item {
    width: 140px;
    height: 90px;
  }

  #actors .content .item {
    margin-right: 15px;
  }
  #actors .content .item img {
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
  }
  #actors .content .item .name {
    font-size: 14px;
  }

  #genres .content {
    justify-content: space-between;
  }
  #genres .content .item {
    margin: 0 0 10px 0;
  }

  #register__block .content {
    height: auto;
    padding: 40px 0;
  }
  #register__block .content .name {
    font-size: 22px;
  }

  #footer .tab .footer__nav a {
    font-size: 17px;
    margin-bottom: 15px;
  }
}
